<!-- <p>home works!</p>

<table class="table table-dark">
    <thead>
        <tr>
            <th>NOMBRE </th>
            <th>CAPITAL</th>
            <th>IMAGEN</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let pais of paises'>
            <td>{{ pais.name }}</td>
            <td>{{ pais.capital }}</td>
            <td><img src="{{ pais.flag }}" style="width: 200px;" alt=""></td>
        </tr>

    </tbody>
</table> -->
<div class="card-columns">
    <div *ngFor="let nuevoLanzamiento of nuevosLanzamientos;" class="card">
        <img class="card-img-top" [src]="nuevoLanzamiento.images | noimage" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ nuevoLanzamiento.name }}</h5>
            <span *ngFor="let artist of nuevoLanzamiento.artists;" class="badge badge-pill badge-secondary">{{ artist.name }}</span>
        </div>
    </div>
</div>